@model IEnumerable<ShopOnline.Areas.Admin.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManHinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Camera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoNhoTrong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhuyenMai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhaSanXuat.TenNSX)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManHinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HDH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GPU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Camera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoNhoTrong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhuyenMai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhaSanXuat.TenNSX)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSP }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSP })
        </td>
    </tr>
}

</table>
