


@model PagedList.IPagedList<ShopOnline.Models.SanPhamKH>
@using PagedList.Mvc;

@{

}
<div class="list-phone row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 item-holder">
            <div class="image-holder  text-center">
                <a href="#"><img src="~/images/SanPham/@item.HinhAnh" /></a>
                <div class="image-text">
                    <h6>@item.TenSP</h6>

                    <div class="price">
                        <p>@item.DonGia</p>
                    </div>
                </div>
                <div class="add-cart">
                    <h3><a href="#"><abbr title="Thêm vào giỏ"><i class="fas fa-cart-plus"></i></abbr></a></h3>
                </div>
            </div>
        </div>

    }
    <!--phan trang-->
    <br />
    <br />
    <div class="container-fluid d-flex justify-content-center">
        <div id="myPager3">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("DanhSachTablet", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { UpdateTargetId = "list-phone-area", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, LoadingElementId = "list-phone-area" }))
        </div>
    </div>
    <script>
        $(function () {
            $('#myPager3 li a').addClass("nav-link");
    $('#myPager3').on('click', 'a', function () {
        $.ajax({
            url: this.href,
            type: 'GET',
            cache: false,
            success: function (result) {
                $('#list-tablet-area').html(result);
            }
        });
        return false;
    });
});</script>
</div>

