@model ShopOnline.Models.SanPhamKH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <figure>
                <img src="~/images/SanPham/@Model.HinhAnh" />
            </figure>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="section-title">
                   <h3>@Model.TenSP</h3>
                <span>@Model.DonGia đ</span>
            </div>
            <div class="image-text">
                <ul>
                    <li>Nhà sản xuất: @Model.NhaSanXuat.TenNSX</li>
                    <li>Màn hình: @Model.ManHinh</li>
                    <li>Hệ điều hành: @Model.HDH</li>
                    <li>CPU: @Model.CPU</li>
                    <li>GPU: @Model.GPU</li>
                    <li>Ram: @Model.Ram</li>
                    <li>Pin: @Model.Pin</li>
                    <li>Camera: @Model.Camera</li>
                    <li>Bộ nhớ trong: @Model.BoNhoTrong</li>
                    <li>số lượng: @Model.SoLuong</li>
                    <li>khuyến mãi: @{double? km = (Model.KhuyenMai * 100) ;
                        string kmStr;
                        if (km == 0) { kmStr = "Không"; } else { kmStr = km.ToString() + " %"; }
                    }@kmStr</li>
                    <li>Mô tả: @Model.MoTa</li>
                </ul>
                <div class="default-form-area">
                    @using (Html.BeginForm("Details", "SanPhamKHs", FormMethod.Post))
                    {
                    <div class="form-group">
                        <input type="number" placeholder="1" name="quantity"/>

                    </div>
                    <div class="form-group">
                        <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" />
                        <button type="submit" class="btn_add text-white">Thêm vào giỏ</button>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
