<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Scripts.Render("~/Scripts/jquery-3.4.1.js")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.js")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Styles.Render("~/Content/admincss/style.css")
    @Styles.Render("~/Content/admincss/CTSanPham.css")
    @Scripts.Render("~/Scripts/Chart.js")
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        @{ 
            Html.RenderPartial("Submenu");
        }

        <!-- Page Content Holder -->
        <div id="content">
            <div class="navtopbar">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                    </div>

                    @model ShopOnline.Areas.Admin.Models.TaiKhoan
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "TaiKhoans", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    @Html.ActionLink("Hello " + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                </li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            </ul>
                        }
                    }
                </nav>
            </div>  

            @RenderBody()
        </div>
    </div>
    <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
    </script>
</body>
</html>