<div class="mymenu">
    <ul id="accordion" class="accordion">
        <li>
            <a href="#"><div class="link">Trang chủ</div></a>
        </li>
        <li>
            <div class="link">Sản phẩm</div>
            <ul class="submenu">
                <li><a href="@Url.Action("Index","SanPhams",new {Area = "Admin" })">Tất cả</a></li>
                <li><a href="@Url.Action("Index","SanPhams",new {Area = "Admin",LoaiSP = "DT" })">Điện thoại</a></li>
                <li><a href="@Url.Action("Index","SanPhams",new {Area = "Admin",LoaiSP = "LT" })">Laptop</a></li>
                <li><a href="@Url.Action("Index","SanPhams",new {Area = "Admin",LoaiSP = "TB" })">Tablet</a></li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("Index","HoaDons",new { Area="Admin" })"><div class="link">Hóa đơn</div></a>
        </li>
        <li>
            <a href="@Url.Action("Index","NhaSanXuats",new {Area = "Admin" })">
                <div class="link">Nhà sản xuất</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","TaiKhoans",new {Area = "Admin" })">
                <div class="link">Khách hàng</div>
            </a>
        </li>
    </ul>
</div>