<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Fixera</h3>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="@Url.Action("ThongKe","HoaDons",new { Area="Admin" })">Thống kê</a>
        </li>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Sản phẩm</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="@Url.Action("Index","SanPhams",new {Area = "Admin" })">Tất cả</a></li>
                <li><a href="@Url.Action("Index","SanPhams",new {Area = "Admin",LoaiSP = "DT" })">Điện thoại</a></li>
                <li><a href="@Url.Action("Index","SanPhams",new {Area = "Admin",LoaiSP = "LT" })">Laptop</a></li>
                <li><a href="@Url.Action("Index","SanPhams",new {Area = "Admin",LoaiSP = "TB" })">Tablet</a></li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("Index","TaiKhoans",new {Area = "Admin" })">Tài khoản</a>
        </li>
        <li>
            <a href="@Url.Action("Index","HoaDons",new { Area="Admin" })">Hóa đơn</a>
        </li>
        <li>
            <a href="@Url.Action("Index","NhaSanXuats",new {Area = "Admin" })">Nhà sản xuất</a>
        </li>
    </ul>
</nav>